<header class="header">
  <div class="header-container">
    <a href="./index.html" class="header-logo-link">
      <svg class="header-logo-icon" width="24" height="24">
        <use href="./img/symbol-defs.svg#icon-logo"></use>
      </svg>
      <p class="header-boofshelf">Bookshelf</p>
    </a>
    <nav class="header-navigation">
      <ul class="header-navigation-list">
        <li class="header-navigation-list-item">
          <a href="./index.html" class="header-link">Home</a>
        </li>
        <li class="header-navigation-list-item">
          <a href="./shopping-list.html" class="header-link mr4"
            >Shopping list</a
          >
          <svg class="header-bucket-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-shopping-bucket"></use>
          </svg>
        </li>
      </ul>
    </nav>
    <input type="checkbox" id="headerToggle" class="header-check-toggle" />
    <label for="headerToggle" class="header-label-toggle"></label>
    <div class="header-button-wrap">
      <button type="button" class="header-sign-up-button">
        Sign up
        <svg class="header-sign-up-icon" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
    <button type="button" class="header-burger-btn">
      <svg class="header-burger-icon" width="28" height="28">
        <use id="burger-svg" href="./img/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <div class="header-modal-menu hidden">
    <nav class="header-modal-menu-navigation">
      <ul class="header-modal-menu-navigation-list">
        <li class="header-modal-menu-navigation-list-item mb16">
          <a href="./index.html" class="header-modal-menu-link">Home</a>
        </li>
        <li class="header-modal-menu-navigation-list-item">
          <a href="./shopping-list.html" class="header-modal-menu-link"
            >Shopping list</a
          >
          <svg class="header-modal-menu-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-shopping-bucket"></use>
          </svg>
        </li>
      </ul>
    </nav>
    <div class="header-modal-wrap">
      <img
        class="image-group"
        srcset="
          img/header-bacground-menu.png    1x,
          img/header-background-img-2x.png 2x
        "
        src="img/header-bacground-menu.png"
        alt="header-bacground-menu"
        loading="lazy"
      />
    </div>
  </div>
</header>
