<div class="backdrop">
  <div class="modal">
    <button class="modal-close-btn" type="button">
      <svg class="modal-close-svg" width="24" height="24">
        <use href="./img/symbol-defs.svg#icon-Icon"></use>
      </svg>
    </button>
    <div class="modal-content-wrap">
      <img class="modal-books-img" src="./img/Rectangle 13.jpg" alt="" />
      <div class="modal-text-wrap">
        <div class="hello-beautiful-modal">
          <h3 class="modal-title">HELLO BEAUTIFUL</h3>
          <p class="modal-authors-name">Ann Napolitano</p>
        </div>

        <p class="modal-book-notice">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </p>
        <ul class="modal-picture-link">
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer"
              ><img src="./img/image 1.png" alt=""
            /></a>
          </li>
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer"
              ><img src="./img/image 2.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <button class="modal-button-add" type="button">
      <div class="text-button-to-shoping-list">ADD TO SHOPING LIST</div>
    </button>
    <button class="modal-button-remove" type="button">
      remove from the shopping list
    </button>
    <div class="div-modal-congratulation">
      <p class="modal-congratulation">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.
      </p>
    </div>
  </div>
</div>
