<!-- add visually-hidden -->

<div class="backdrop">
  <div class="modal-form-sing-up">
    <button class="modal-form-btn" type="button">
      <svg class="modal-form-btn-icon" width="12" height="12">
        <use href="./img/modal-sing-up/sing-up-icon.svg#icon-close"></use>
      </svg>
    </button>

    <form class="modal-form">
      <div class="modal-form-field">
        <label for="user-name" class="modal-form-label"></label>
        <input
          type="text"
          name="user-name"
          class="modal-form-input"
          id="user-name"
          placeholder="Name"
          required
        />
      </div>

      <div class="modal-form-field">
        <label for="user-email" class="modal-form-label"></label>
        <input
          type="email"
          name="user-email"
          class="modal-form-input"
          id="user-email"
          placeholder="Email"
          required
        />
        <svg class="modal-form-icon" width="18" height="18">
          <use href="./img/modal-sing-up/sing-up-icon.svg#icon-email"></use>
        </svg>
      </div>

      <div class="modal-form-field">
        <label for="user-password" class="modal-form-label"></label>
        <input
          type="password"
          name="user-password"
          class="modal-form-input"
          id="user-password"
          minlength="8"
          placeholder="Password"
          required
        />
        <svg class="modal-form-icon" width="18" height="18">
          <use href="./img/modal-sing-up/sing-up-icon.svg#icon-pass"></use>
        </svg>
      </div>

      <button class="modal-form-main-btn" type="submit">Sign up</button>
    </form>

    <div class="modal-sing-up">
      <ul class="sing-up-list">
        <li class="sing-up-item">
          <a class="sing-up-link-up" href="">SIGN UP</a>
        </li>
        <li class="sing-up-item">
          <a class="sing-up-link-in" href="">SIGN IN</a>
        </li>
      </ul>
    </div>
  </div>
</div> -->
