<div class="modal">
  <span class="close">&times;</span>
  <div class="modal-content">
    <div class="input-content">
      <input class="input" type="text" placeholder="NAME" />
      <input class="input" type="email" placeholder="EMAIL" />
      <input class="input" type="password" placeholder="PASSWORD" />
    </div>
    <button class="signup-btn">Sign Up</button>
    <div class="sign-up-div">
      <p class="sign-up">
        Sign Up <span class="sign-up-span"><a href="#">Sign Up</a></span>
      </p>
    </div>
  </div>
</div>
