<div class="modal-window">
<button id="openModal">Open Modal</button>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img src="book-cover.jpg" alt="Book Cover" class="book-cover">
        <h2 class="book-title">Book Title</h2>
        <p class="author">Author</p>
        <p class="description">Book Description</p>
        <div class="buy-links">
            <a href="#" class="buy-link">Buy on Amazon</a>
            <a href="#" class="buy-link">Buy on Apple Books</a>
        </div>
        <button id="addToShoppingList">Add to Shopping List</button>
    </div>
</div>
<div id="modalBackdrop" class="modal-backdrop"></div>
</div>
