<div class="support-ukraine">
  <div class="container-support-ukraine">
    <div class="flex-ukraine-wrapper">
      <h3 class="support-ukraine-title">Support Ukraine</h3>
      <img
        src="./img/support-ukraine-img/ukraine.png"
        alt="ukrainian-symbol"
        width="20"
        height="32"
        loading="lazy"
      />
    </div>
    <div class="swiper">
      <ul class="list-charity swiper-wrapper">
        <li class="item-charity">
          <p class="number-support">01</p>
          <div class="image-wrapper">
            <img
              src="./img/support-ukraine-img/save-children.png"
              alt="Save the Children"
              class="charity-image"
              data-url="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
              width="129"
              height="32"
              loading="lazy"
            />
            <a
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
              target="_blank"
              class="overlay"
              >Save the Children</a
            >
          </div>
        </li>
        <li class="item-charity">
          <p class="number-support">02</p>
          <div class="image-wrapper">
            <img
              src="./img/support-ukraine-img/hope.png"
              alt="Project HOPE"
              class="charity-image"
              data-url="https://www.projecthope.org/country/ukraine/"
              width="62"
              height="32"
              loading="lazy"
            />
            <a
              href="https://www.projecthope.org/country/ukraine/"
              target="_blank"
              class="overlay"
              >Project HOPE</a
            >
          </div>
        </li>

        <li class="item-charity">
          <p class="number-support">03</p>
          <div class="image-wrapper">
            <img
              src="./img/support-ukraine-img/medic.png"
              alt="International Medical Corps"
              class="charity-image"
              data-url="https://internationalmedicalcorps.org/country/ukraine/"
              width="103"
              height="32"
              loading="lazy"
            />
            <a
              href="https://internationalmedicalcorps.org/country/ukraine/"
              target="_blank"
              class="overlay"
              >International Medical Corps</a
            >
          </div>
        </li>
        <li class="item-charity">
          <p class="number-support">04</p>
          <div class="image-wrapper">
            <img
              src="./img/support-ukraine-img/razom.png"
              alt="RAZOM"
              class="charity-image"
              data-url="https://www.razomforukraine.org/"
              width="82"
              height="32"
              loading="lazy"
            />
            <a
              href="https://www.razomforukraine.org/"
              target="_blank"
              class="overlay"
              >RAZOM</a
            >
          </div>
        </li>
        <li class="item-charity">
          <p class="number-support">05</p>
          <div class="image-wrapper">
            <img
              src="./img/support-ukraine-img/hunger.png"
              alt="Action against hunger"
              class="charity-image"
              data-url="https://www.actionagainsthunger.org/location/europe/ukraine/"
              width="55"
              height="32"
              loading="lazy"
            />
            <a
              href="https://www.actionagainsthunger.org/location/europe/ukraine/"
              target="_blank"
              class="overlay"
              >Action against hunger</a
            >
          </div>
        </li>
        <li class="item-charity">
          <p class="number-support">06</p>
          <div class="image-wrapper">
            <img
              src="./img/support-ukraine-img/prytula.png"
              alt="Serhiy Prytula Charity Foundation"
              class="charity-image"
              data-url="https://prytulafoundation.org/en"
              width="115"
              height="32"
              loading="lazy"
            />
            <a
              href="https://prytulafoundation.org/en"
              target="_blank"
              class="overlay"
              >Serhiy Prytula Charity Foundation</a
            >
          </div>
        </li>
        <li class="item-charity">
          <p class="number-support">07</p>
          <div class="image-wrapper">
            <img
              src="./img/support-ukraine-img/frontieres.png"
              alt="Medicins Sans Frontieres"
              class="charity-image"
              data-url="https://www.msf.org/ukraine"
              width="94"
              height="32"
              loading="lazy"
            />
            <a
              href="https://www.msf.org/ukraine"
              target="_blank"
              class="overlay"
              >Medicins Sans Frontieres</a
            >
          </div>
        </li>
        <li class="item-charity">
          <p class="number-support">08</p>
          <div class="image-wrapper">
            <img
              src="./img/support-ukraine-img/vision.png"
              alt="World vision"
              class="charity-image"
              data-url="https://www.wvi.org/emergencies/ukraine"
              width="81"
              height="32"
              loading="lazy"
            />
            <a
              href="https://www.wvi.org/emergencies/ukraine"
              target="_blank"
              class="overlay"
              >World vision</a
            >
          </div>
        </li>
        <li class="item-charity">
          <p class="number-support">09</p>
          <div class="image-wrapper">
            <img
              src="./img/support-ukraine-img/united24.png"
              alt="UNITED24"
              class="charity-image"
              data-url="https://u24.gov.ua/uk"
              width="109"
              height="10"
              loading="lazy"
            />
            <a href="https://u24.gov.ua/uk" target="_blank" class="overlay"
              >UNITED24</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="btn-wrapper">
    <button class="btn-scroll-down">
      <svg class="btn-scroll-down-svg" width="20" height="20">
        <use
          href="./img/support-ukraine-img/icon-support-ukraine/symbol-defs.svg#icon-button-down"
        ></use>
      </svg>
    </button>
    <button class="btn-scroll-up hidden">
      <svg class="btn-scroll-up-svg" width="20" height="20">
        <use
          href="./img/support-ukraine-img/icon-support-ukraine/symbol-defs.svg#icon-button-up"
        ></use>
      </svg>
    </button>
  </div>
</div>
