/* =============best-sellers-books================ */

/* ============== BASIC STYLE ===================== */
.best-books-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: var(--main-color);

  margin-top: 40px;
  margin-bottom: 40px;
}
.best-books-title-colour {
  color: #4f2ee8;
}

.best-books-category {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.best-books-subtitle {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;

  margin-bottom: 18px;

  text-transform: uppercase;
}
.best-books-list {
}
.best-books-item {
  display: flex;
  gap: 24px;
}

.best-books-wrap {
  display: flex;
  flex-direction: column;
  max-width: 335px;
}

.btn-see-more-wrap {
  display: flex;
  justify-content: flex-end;
  width: 335px;
}

.btn-see-more {
  margin-top: 8px;
  margin-bottom: 40px;

  border: 2px solid var(--btn-border);
  border-radius: 40px;
  padding: 14px 28px;
  height: 46px;
  width: 130px;

  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-color);

  background-color: var(--main-background);
  cursor: pointer;
}

.best-books-content {
  position: relative;
  overflow: hidden;

  border-radius: 8px;
}

.best-books-image {
  width: 335px;
  height: 485px;
  border-radius: 8px;
  cursor: pointer;
  object-fit: cover;
}

.best-books-item .best-books-overlay-text {
  transform: translateY(100%);
}

.best-books-content:hover .best-books-overlay-text {
  transform: translateY(60%);
}

.best-books-overlay-text {
  text-align: center;
  padding-top: 75px;

  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;

  border-radius: 0 0 8px 8px;

  background-color: yellow;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.best-books-heading {
  margin-top: 14px;
  margin-bottom: 4px;

  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--main-color);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.best-books-text {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;

  margin-bottom: 8px;
}

.best-books-wrap:not(:first-child) {
  display: none;
}

.global-books-selector {
  position: relative;
}

.loader1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border: 5px solid #0daeee;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ==================== MOBILE ===================== */
@media screen and (min-width: 375px) {
  .best-books-wrap:not(:first-child) {
    display: none;
  }
}

/* ==================== TABLET ===================== */
@media screen and (min-width: 768px) {
  .best-books-image {
    width: 218px;
    height: 316px;
  }

  .best-books-wrap:nth-child(2),
  .best-books-wrap:nth-child(3) {
    display: flex;
  }

  .best-books-content {
    max-width: 218px;
  }
  .btn-see-more-wrap {
    width: 704px;
  }

  .best-books-heading {
    max-width: 218px;
  }

  .best-books-overlay-text {
    padding-top: 50px;
  }
}

/* ==================== DESKTOP 1440px ===================== */
@media screen and (min-width: 1440px) {
  .best-books-image {
    width: 180px;
    height: 256px;
  }

  .best-books-wrap:nth-child(4),
  .best-books-wrap:nth-child(5) {
    display: flex;
  }

  .best-books-content {
    max-width: 180px;
  }
  .btn-see-more-wrap {
    width: 996px;
  }

  .best-books-heading {
    max-width: 180px;
  }

  .best-books-overlay-text {
    padding-top: 45px;
  }
}
