.hardcover-wrap{
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
;
}
.hardcover-list{

}
.hardcover-item{

}
.hardcover-img{

}
.hardcover-subtitle{

}
.hardcover-descr{

}

@media screen and (min-width: 768px) {
    .hardcover-wrap {
            /* min-width: 768px;
            display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 25px;
                align-items: center; */
    }

    .hardcover-list {
    min-width: 768px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        align-items: center;
    }

    .hardcover-img {
        width: 218px;
        height: 316px;

        margin-bottom: 40px;
    }

    .hardcover-subtitle {
        text-transform: uppercase;
    }

    .hardcover-descr {}
}

@media screen and (min-width: 1440px) {



.hardcover-wrap{
  
}
.hardcover-list{

}
.hardcover-item{

}
.hardcover-img{

}
.hardcover-subtitle{

}
.hardcover-descr{

}
}