
.hardcover-wrap {
        max-width: 375px;
}

.hardcover-list {
    min-width: 375px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hardcover-item {
    
   max-width: 335px;
}

.hardcover-img {
    border-radius: 8px;
    width: 335px;
    height: 485px;
}

.hardcover-subtitle {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: -0.04em;
    color: #111;
    margin-bottom: 4px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--main-color);
}

.hardcover-descr {
    font-family: "DM Sans", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    color: #b4afaf;
    margin-bottom: 40px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.hardcover-books-content{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 14px;
    min-width: 335px;
}
.hardcover-books-overlay-text {
    text-align: center;
    padding-top: 75px;
  
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: black;
  
    border-radius: 0 0 8px 8px;
  
    background-color: yellow;
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    cursor: pointer;
  }
  
  .hardcover-books-content:hover .hardcover-books-overlay-text {
    transform: translateY(60%);
  }

.hardcover-item .hardcover-books-overlay-text {
    transform: translateY(100%);
  }



@media screen and (min-width: 768px) {
   

    .title-hardcover {
        font-size: 48px;
        line-height: 1.08333;
        letter-spacing: -0.04em;
        color: #111;
        margin-top: 100px;
    }

    .hardcover-wrap {
        min-width: 768px;
    }

    .hardcover-list {
        min-width: 768px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        align-items: center;
    }
    .hardcover-item{
        max-width: 218px;
    }

    .hardcover-img {
        width: 218px;
        height: 316px;
    }

    .hardcover-subtitle {
        text-transform: uppercase;
    }
    
}
  .hardcover-books-content {
    min-width: 218px;
  }
.hardcover-books-overlay-text {
    padding-top: 50px;
 }
@media screen and (min-width: 1440px) {

.hardcover-wrap {
    min-width: 1098px;
    margin: 0 auto;
    }

.hardcover-list {
    min-width: 1098px;
    gap: 24px;
    }
.hardcover-item{
    max-width: 180px;
}
.hardcover-img {
    width: 180px;
    height: 256px;
}

.hardcover-subtitle {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.125;
    }

.hardcover-books-content {
    min-width: 180px;
    }
    
.hardcover-books-overlay-text {
    padding-top: 45px;
    }
}
