body {
  font-family: 'DM sans', sans-serif;
  width: 375px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.backdrop {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal {
  position: relative;
  background-color: #fefefe;
  margin: 0 auto;
  /* padding: 20px; */
  border: 1px solid #888;
  max-width: 335px;
  border-radius: 18px;
  border: 2px solid black;
}
.modal-close-btn {
  background-color: transparent;
  border: none;
  font-size: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.modal-books-img {
  padding-left: 24px;
}

/* .modal-close-btn:hover,
  .modal-close-btn:focus {
    color: black;
    text-decoration: none;
    box-shadow: #888;
  } */

.modal-close-svg {
  stroke: #111;
}
.modal-content-wrap {
  /* margin-top: 20px; */
  margin-top: 40px;
}

.modal-text-wrap {
  /* margin-top: 14px;
    margin-bottom: 14px; */
  margin-top: 14px;
  margin-bottom: 14px;
  padding-left: 24px;
}

.modal-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.04em;
  margin-bottom: 4px;
}

.modal-authors-name {
  margin: 0;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.modal-book-notice {
  /* font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em; */
  width: 287px;
  height: 70px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;
}

.modal-picture-link {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 44px;
}

.modal-button-add {
  /* border: 2px solid violet; */
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  padding: 14px 28px;
  /* min-width: 211px; */
  width: 211px;
  height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  /* text-transform: uppercase; */
  color: black;
  display: block;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.text-button-to-shoping-list {
  width: 155px;
  height: 18px;
}

.modal-button-remove {
  border: 2px solid violet;
  border-radius: 40px;
  padding: 14px 20px;
  min-width: 279px;
  height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: black;
  display: none;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.modal-congratulation {
  width: 242px;
  height: 36px;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(17, 17, 17, 0.5);
  margin-left: 47px;
  margin-bottom: 29px;
}

@media screen and (min-width: 768px) {
  .modal {
    /* display: block;
      max-width: 580px;
      padding: 40px; */
    display: block;
    max-width: 579px;
    height: 501px;
  }

  /* .modal-content-wrap {
      margin-top: 0;
      display: flex;
      column-gap: 24px;
      row-gap: 20px;
      gap: 24px;
    } */
  .modal-content-wrap {
    display: flex;
    /* column-gap: 24px; */
    /* row-gap: 20px; */
    /* gap: 24px; */
    margin-left: 40px;
  }

  .modal-text-wrap {
    margin-top: 0;
    margin-bottom: 0;
  }

  .modal-title {
    width: 192px;
    height: 28px;
    margin-top: 0;
    font-size: 24px;
    line-height: 117%;
    margin-bottom: 8px;
  }

  .modal-authors-name {
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 129%;
  }

  .hello-beautiful-modal {
    margin-bottom: 20px;
  }

  .modal-book-notice {
    margin-bottom: 20px;
    max-width: 279px;
  }

  .modal-picture-link {
    width: 115px;
    height: 32px;
  }
  /* .modal-content-wrap {
      margin-top: 0;
      margin-bottom: 40px;
    } */

  .modal-books-img {
    max-width: 192px;
    max-height: 281px;
    padding-left: 0;
  }

  .modal-button-add {
    width: 499px;
    padding: 20px 149px;
    height: 64px;
    font-size: 18px;
    line-height: 133%;
    margin-top: 40px;
    margin-bottom: 8px;
  }

  .text-button-to-shoping-list {
    width: 200px;
    height: 25px;
  }

  .modal-button-remove {
    width: 500px;
    padding: 20px 173px;
    height: 64px;
    font-size: 18px;
    line-height: 133%;
  }

  .modal-congratulation {
    font-size: 12px;
    line-height: 117%;
    /* max-width: 324px; */
    width: 324px;
    margin: 0 auto;
  }
}

/* .div-modal-congratulation {
  } */

@media screen and (min-width: 1440px) {
}
