/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.global-block-support-and-allcat {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.global-books-block {
  display: block;
}

@media screen and (min-width: 768px) {
  .main-wrapper {
    display: inline-grid;
  }
  .global-block-support-and-allcat {
    display: grid;
    grid-template-columns: 337px 335px;
    margin-bottom: 100px;
  }

  .main-wrapper .support-ukraine {
    height: 474px;
  }

  .main-wrapper .best-books-title {
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .main-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0 24px;
  }

  .global-block-support-and-allcat {
    display: flex;
    gap: 86px;
  }
}
