/* ============== BASIC STYLE ============= */
.there-are-no-books-available {
  max-width: 375px;
  margin-top: 120px;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 302px;
}

.shoping-list-no-books {
  width: 193px;
  height: 38px;
  margin-left: 20px;
  margin-top: 40px;

  font-family: DM Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.04em;
  text-align: left;
}

.modal-button-add:hover {
  background-color: #4f2ee8;
}
.modal-button-add:focus {
  background-color: #4f2ee8;
}

.shopping {
  /* margin-bottom: 120px */
}
.list {
  color: #4f2ee8;
}

.no-books-available-title {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;

  width: 244px;
  height: 36px;

  margin-left: 10px;
  margin-right: 10px;

  color: #00000099;
}

.img-no-books-available {
  width: 265px;
  height: 198px;
  /* margin-top: 14px; */
}

@media screen and (min-width: 768px) {
  .there-are-no-books-available {
    margin-top: 140px;
    margin-left: 190px;
    margin-right: 209px;
    margin-bottom: 394px;
  }
  .shoping-list-no-books {
    width: 292px;
    height: 52px;
    margin-left: 32px;
    /* margin-top: 40px; */

    font-family: DM Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .no-books-available-title {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;

    width: 329px;
    height: 48px;

    margin-left: 13px;
    margin-right: 13px;
  }

  .img-no-books-available {
    width: 350px;
    height: 241px;
    /* margin-top: 14px; */
  }
}

@media screen and (min-width: 1440px) {
  .there-are-no-books-available {
    margin-top: 140px;
    margin-left: 356px;
    margin-right: 157px;
    margin-bottom: 368.5px;
  }
  .shoping-list-no-books {
    width: 292px;
    height: 52px;
    margin-left: 40px;
    margin-top: 40px;

    font-family: DM Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .no-books-available-title {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;

    width: 330px;
    height: 48px;

    margin-left: 13px;
    margin-right: 13px;
  }

  .img-no-books-available {
    width: 350px;
    height: 250px;
    /* margin-top: 14px; */
  }
}
