.sidebar {
  min-width: 335px;
  max-width: 335px;
  height: 228px;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--categories-scroll-bar);
  border-radius: 12px;
  height: 114px;
}

.sidebar-categories {
  min-width: 307px;
  position: relative;
}

.sidebar-categories-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: var(--categories-item);
  margin-bottom: 24px;
  text-transform: none;
  transition: color 0.5s ease;
}

.sidebar-categories-item:hover,
.sidebar-categories-item:focus {
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--categories-item-hover);
}

.sidebar-categories-item:active {
  text-transform: uppercase;
}

.sidebar-active {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--categories-item-hover);
}

.loader {
  display: block;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border: 5px solid #0daeee;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader1 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border: 5px solid #0daeee;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    min-width: 337px;
    height: 472px;
  }

  .sidebar-categories {
    min-width: 309px;
  }

  .to-top {
    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 50px;
    cursor: pointer;
    display: block;
    font-size: 25px;
    color: #fff;
    border: 2px;
    background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 105%
    );
    padding: 15px 10px;
    border-radius: 10px;
    z-index: 15;

    transition: opacity 0.5s, transform 0.5s;
  }

  .to-top.show {
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;
  }

  .show {
    display: flex;
  }

  .to-top:hover,
  .to-top:focus {
    scale: 0.9;
  }
}
@media screen and (min-width: 1440px) {
  .sidebar {
    min-width: 356px;
    height: 472px;
  }

  .sidebar-categories {
    min-width: 328px;
  }
}
