/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./support-ukraine.css');
@import url('./header.css');
@import url('./side-bar.css');
@import url('./best-sellers-books.css');
@import url('./shoping-list-books.css');
@import url('./hardcover-fictions.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: var(--main-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #111;
  --header-border: #000;
  --header-main-background: #fff;
  --main-background: #f6f6f6;
  --btn-border: #4f2ee8;
  --categories-scroll-bar: #e0e0e0;
  --categories-item: rgba(17, 17, 17, 0.6);
  --categories-item-hover: #4f2ee8;
  --shopping-list-text: rgba(0, 0, 0, 0.6);
  color-scheme: light;
}

.dark {
  --main-color: #fff;
  --header-border: #fff;
  --header-main-background: #111;
  --main-background: #202024;
  --btn-border: #4f2ee8;
  --categories-scroll-bar: rgba(17, 17, 17, 0.6);
  --categories-item: rgba(255, 255, 255, 0.6);
  --categories-item-hover: #eac645;
  --shopping-list-text: #fff;
  color-scheme: dark;
}
